<div class="container">



    <section class="aboutUs" id="aboutProject">



        <h1 class="title main-title">Проект "Розквітай"</h1>
        <p class="project-text">Це програма особистісного розвитку, що поєднує інструменти тетахілінгу, коучингу та
            нейрокоучингу, і допомагає
            змінити
            підсвідомі переконання та програмування розуму на успіх, а також медитації, які допоможуть вам розкрити ваш
            потенціал,
            одним словом розквітнути.</p>

        <p class="title about-you__title">Цей проект для тебе якщо хоч один із пунктів тобі відгукується:</p>
        <ul class="about-you__list">
            <li>ти почуваєшся пригнічено або розгублено</li>
            <li>ти не бачиш себе та свій шлях</li>
            <li>ти хочеш пізнати себе, дізнатися яка ти насправді</li>
            <li>ти хочеш поглянути на себе з іншої сторони</li>
            <li>думка інших важливіша за власні бажання</li>
            <li>ти ніяк не можеш досягти бажаних цілей</li>
            <li>ти хочеш стати більш впевненою</li>
            <li>ти маєш негативні упередження стосовно себе</li>
            <li>ти вагаєшся наважитись на перші кроки до своєї реалізації</li>
            <li>ти просто хочеш змін</li>
            <li>ти хочеш бути головною героїнею свого життя</li>
        </ul>

        <include src="./partials/contentBorder/contentBorder.html"></include>

        <div class="person-first " id="aboutUs">
            <h2 class="title">Юлія</h2>
            <div class="person-first__wrapper">
                <div class="person-first_info-wrapper">
                    <img class="person-first__photo" src="./assets/images/photo/julia.jpg" alt="Julia">

                    <p class="person-first__info">Я - підприємець, нейролінгвокоуч, сертифікація "Коучинг для життя та
                        роботи",
                        провідник трансформаційної
                        гри самопізнання "Ліла". <br><br>Поринувши у співпрацю зі мною ви зможете знайти свій
                        внутрішній
                        ресурс та відчути себе більш впевненою, визначеною та
                        самодостатньою. Наша взаємодія допоможе вам знайти відповіді на ваші запитання та розв'язати
                        проблеми, що перешкоджають
                        досягненню ваших цілей, пізнати себе, віднайти шляхи подальшого руху вперед.</p>



                </div>
            </div>


            <div class="person-first__questions">
                <h2 class="title title__questions">Найпоширеніші питання:</h2>


                <div class="accordion">
                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            <p>Що таке коучинг?</p>
                            <svg class="accordion-item__icon" width="24" height="24">
                                <use href="./assets/images/icons/icons.svg#icon-down"></use>
                            </svg>
                        </div>
                        <div class="accordion-item-body">
                            <div class="accordion-item-body-content">
                                Коучинг - це процес, в ході якого коуч допомагає вам зрозуміти ваш потенціал та
                                допомагає вам досягти ваших цілей.
                                Коучинг допомагає вам зосередитися на позитивних аспектах вашого життя та розкрити ваш
                                потенціал.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            <p>Що таке нейрокоучинг?</p>
                            <svg class="accordion-item__icon" width="24" height="24">
                                <use href="./assets/images/icons/icons.svg#icon-down"></use>
                            </svg>
                        </div>
                        <div class="accordion-item-body">
                            <div class="accordion-item-body-content">
                                Нейрокоучинг - це поєднання коучингу та нейробіології, що допомагає змінити ваш розум на
                                успіх.
                                Він базується на розумінні того, як наш мозок працює, та використовує це знання для
                                покращення вашого життя.
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="person-second">
            <h2 class="title">Агнесса</h2>
            <img class="person-second__photo-desktop" src="./assets/images/photo/agnessa.jpg" alt="Agnessa">
            <p class="person-second__info">Cертифікований таролог і тета практик, Знання які дають мені можливість
                працювати
                з дитячими травмами,
                минулими життями, родом та рівнем душі. <br><br> За допомогою тета Хілінгу ми знаходимо негативні
                програми,
                які
                глибоко заховані в
                підсвідомості, опрацьовуємо їх та утворюємо нові нейронні зв'язки (завантаження). Все це відбувається на
                7
                плані або через
                Вище Я на тета частоті (тета хвилі) через Творця. <br><br>Я буду насправді вашим провідником у краще
                життя, де
                ви зможете прибрати обмежуючі переконання, які заважають досягати
                всього бажаного і бути тією самою для себе.</p>

            <img class="person-second__photo" src="./assets/images/photo/agnessa.jpg" alt="Agnessa">

            <div class="person-second__questions">
                <h2 class="title title__questions">Найпоширеніші питання:</h2>

                <div class="accordion">

                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            <p>Що таке тетахілінг?</p>
                            <svg class="accordion-item__icon" width="24" height="24">
                                <use href="./assets/images/icons/icons.svg#icon-down"></use>
                            </svg>
                        </div>
                        <div class="accordion-item-body">
                            <div class="accordion-item-body-content">
                                Тетахілінг - це ефективний інструмент для зміни підсвідомих переконань та програмування
                                розуму на успіх. Він базується на використанні тета-хвиль, які допомагають знизити
                                рівень стресу та зосередитися на позитивних цілях. </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

</div>

</div>




</section>
<include src="./partials/contentBorder/contentBorder.html"></include>
</div>