<header>

    <div class="nav-wrapper">
        <img class="nav-img" src="./assets/images/photo/flower.png" alt="">
        <nav class="nav header-nav">

            <ul class="nav-list header-nav-list">
                <li>
                    <a class="nav-link header-nav-link" href="#aboutProject">Про проект</a>
                </li>
                <li>
                    <a class="nav-link header-nav-link" href="#aboutUs">Про нас</a>
                </li>

                <li>
                    <a class="nav-link header-nav-link" href="#program">Програма</a>
                </li>

                <li>
                    <a class="nav-link header-nav-link" href="#proposals">Пакети послуг</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- burger -->
    <div class="burger-menu">
        <div class="burger-menu__wrapper">
            <button class="burger-menu__button">
                <svg class="burger-menu__open-icon" width="40" height="40">
                    <use href="./assets/images/icons/icons.svg#icon-menu"></use>
                </svg>
                <svg class="burger-menu__close-icon visually-hidden" width="40" height="40">
                    <use href="./assets/images/icons/icons.svg#icon-close"></use>
                </svg>
            </button>

            <nav class="nav burger-nav visually-hidden">

                <ul class="nav-list">
                    <li>
                        <a class="nav-link nav-link__burger" href="#aboutProject">Про проект</a>
                    </li>
                    <li>
                        <a class="nav-link nav-link__burger" href="#aboutUs">Про нас</a>
                    </li>

                    <li>
                        <a class="nav-link nav-link__burger" href="#program">Програма</a>
                    </li>

                    <li>
                        <a class="nav-link nav-link__burger" href="#proposals">Пакети <br> послуг</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</header>