<div class="container__footer">
    <div class="container ">
        <footer class="footer">

            <div class="footer__wrapper">
                <p class="footer__title">Почни крок до змін</p>
                <p class="footer-wishes">З любовью, твої провідники
                    Юлія та Агнесса</p>
                <img class="footer__flower" src="./assets/images/photo/footer-flower.png" alt="">
            </div>

            <div class="contacts__wrapper">
                <h2 class="contacts__title">Контакти:</h2>
                <ul class="contacts__list">
                    <li class="contacts__list-item">
                        <a class="footer__telegram-link" href="https://t.me/juliiiv" target="_blank"><svg
                                class="footer__contact-icon">
                                <use href="./assets/images/icons/icons.svg#icon-telegram"></use>
                            </svg>
                            <p>Юлія</p>
                        </a>
                    </li>
                    <li class="contacts__list-item last-telegram-contact">
                        <a class="footer__telegram-link" href="https://t.me/AgnessaVoichak" target="_blank"><svg
                                class="footer__contact-icon">
                                <use href="./assets/images/icons/icons.svg#icon-telegram"></use>
                            </svg>
                            <p>Агнесса</p>
                        </a>
                    </li>


                    <li class="contacts__list-item contacts__list-nolink-item">
                        <svg class="footer__contact-icon footer__contact-icon--nolink">
                            <use href="./assets/images/icons/icons.svg#icon-phone"></use>
                        </svg>
                        <p>+380956006495</p>

                    </li>

                    <li class="contacts__list-item contacts__list-nolink-item">
                        <svg class="footer__contact-icon footer__contact-icon--nolink">
                            <use href="./assets/images/icons/icons.svg#icon-mail"></use>
                        </svg>
                        <p>rozkvitay.team@gmail.com</p>

                    </li>

                </ul>
            </div>

            <div class="footer__policy-wrapper">
                <ul class="footer__policy-list">
                    <li class="footer__policy-list-item"><a href="./oferta.html">Договір публічної оферти</a></li>
                    <li class="footer__policy-list-item"><a href="./confidential.html">Політика конфіденційності</a>
                    </li>
                    <li class="footer__policy-list-item"><a href="./oplata.html">Умови оплати</a></li>
                </ul>
            </div>

        </footer>
    </div>
</div>