<div class="container">
    <section class="program" id="program">

        <h2 class="title title_program">Програма</h2>


        <ol class="program-list">
            <li class="program-list__item">
                <p class="program-list__number">1</p>
                <div class="program-info-wrapper">
                    <p class="program-list__info">Перший блок програми присвячений роботі з переконаннями. Ви
                        дізнаєтеся,
                        які
                        переконання заважають вам
                        досягати успіху, і
                        як їх замінити на ті, що допоможуть вам розквітати.</p>




                    <div class="tech-list-wrapper">
                        <p class="tech-list-title">Техніка “Ранкові сторінки”</p>
                        <ul class="tech-list">
                            <li class="tech-list-item">2 практики</li>
                            <li class="tech-list-item">4 коучингові завдання</li>
                            <li class="tech-list-item">1 зустріч онлайн + медитація</li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="program-list__item">
                <p class="program-list__number">2</p>
                <div class="program-info-wrapper">
                    <p class="program-list__info">Другий блок - робота зі своїм Я. Ви вивчите, які внутрішні бар'єри
                        заважають
                        вам
                        бути щасливою та успішною,
                        і як їх
                        подолати.</p>

                    <div class="tech-list-wrapper">
                        <p class="tech-list-title">Техніка “Щоденник вдячності”</p>
                        <ul class="tech-list">
                            <li class="tech-list-item">2 практики</li>
                            <li class="tech-list-item">4 коучингові завдання</li>
                            <li class="tech-list-item">1 зустріч онлайн + медитація</li>
                        </ul>
                    </div>
                </div>
            </li>



            <li class="program-list__item">
                <p class="program-list__number">3</p>
                <div class="program-info-wrapper">
                    <p class="program-list__info">Третій блок - робота з цілями. Ви дізнаєтеся, як сформулювати свої
                        цілі,
                        як
                        розвивати мотивацію для
                        досягнення них, і як
                        зберегти енергію та фокус на цілях.</p>

                    <div class="tech-list-wrapper">
                        <p class="tech-list-title">Техніка “Щоденник успіху”</p>
                        <ul class="tech-list">
                            <li class="tech-list-item">3 практики</li>
                            <li class="tech-list-item">6 коучингових завдань</li>
                            <li class="tech-list-item">1 зустріч онлайн + медитація</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ol>



        <div class="bonuses-row">
            <div class="bonuses-row__wrapper">

                <p> <b>БОНУСИ:</b> групова зустріч зі стилістом, групова трансформаційна гра самопізнання “Ліла.
                    Розквітай. Проявлення”,
                    1 коучингове завдання.</p>
            </div>
        </div>

        <div class="bonuses-list">
            <div class="bonuses-list__wrapper">

                <p class="bonuses-list__title">БОНУСИ:</p>

                <ul class="bonuses-list__items">
                    <li class="bonuses-list__item">групова зустріч зі стилістом</li>
                    <li class="bonuses-list__item">групова трансформаційна гра самопізнання “Ліла.
                        Розквітай. Проявлення”</li>
                    <li class="bonuses-list__item">1 коучингове завдання</li>
                </ul>
            </div>
        </div>







        <p class="after-program-text">Після проходження програми, ти зможеш краще зрозуміти себе, розкрити свій
            потенціал та почуватися більш
            впевненою і
            визначенішою у своїх діях. Ти зможе працювати зі своїми негативними установками, глибинними упередженнями,
            страхами та
            внутрішнім критиком, ваганнями і наважитися на перші кроки до своєї реалізації та свідомого життя. Програма
            "Розквітай"
            надає тобі можливість підвищити свій рівень самосвідомості та досягати успіху у різних аспектах свого життя.
        </p>


    </section>
    <!-- <include src="./partials/contentBorder/contentBorder.html"></include> -->
</div>