<div class="container">
  <section class="program" id="program">
    <h2 class="title title_program">Можливості</h2>

    <p class="program__description">
      Соната – це програма, яка дає можливість формувати звіти, податкові накладні, розрахунки
      коригування (у тому числі обмін з контрагентами), акцизні накладні. Для підписання можливо
      використовувати ЕЦП/КЕП усіх провідних акредитованих центрів сертифікації ключів, у тому числі
      безкоштовних. Підтримуються як файлові так і апаратні ключі (токени)
    </p>

    <div class="features-grid">
      <div class="feature-card">
        <div class="feature-icon">
          <svg class="icon" width="24" height="24">
            <use href="./assets/images/icons/icons.svg#icon-document"></use>
          </svg>
        </div>
        <h3 class="feature-title">Звітність до контролюючих органів</h3>
        <p class="feature-description">
          Подавайте звіти до ДПС, ПФУ, Держстату без відвідування контролюючого органу. Отримуйте
          квитанції з результатом реєстрації
        </p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">
          <svg class="icon" width="24" height="24">
            <use href="./assets/images/icons/icons.svg#icon-book"></use>
          </svg>
        </div>
        <h3 class="feature-title">Довідники та класифікатори</h3>
        <p class="feature-description">
          Соната містить актуальні класифікатори, наприклад, УКТЗЕД, класифікатор валют та багато
          інших для зручності заповнення звітів. Використовуйте довідники працівників чи товарів для
          зберігання інформації, пов'язаної з вашим підприємством
        </p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">
          <svg class="icon" width="24" height="24">
            <use href="./assets/images/icons/icons.svg#icon-check"></use>
          </svg>
        </div>
        <h3 class="feature-title">Перевірка звітів</h3>
        <p class="feature-description">
          Перевіряйте звіти й податкові накладні на відповідність стандартам ДПС та інших
          контролюючих органів
        </p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">
          <svg class="icon" width="24" height="24">
            <use href="./assets/images/icons/icons.svg#icon-tax"></use>
          </svg>
        </div>
        <h3 class="feature-title">Звірка ПДВ</h3>
        <p class="feature-description">
          Модуль звірки допоможе отримати податкові накладні та розрахунки коригування з ЄРПН і
          проконтролювати наявність первинних документів у Сонаті. А також надасть можливість
          заповнити Декларацію з ПДВ
        </p>
      </div>
      <div class="feature-card">
        <div class="feature-icon">
          <svg class="icon" width="24" height="24">
            <use href="./assets/images/icons/icons.svg#icon-invoice"></use>
          </svg>
        </div>
        <h3 class="feature-title">Податкові накладні</h3>
        <p class="feature-description">
          Створюйте чи імпортуйте податкові накладні/розрахунки коригування. Отримуйте виписки з
          єдиного реєстру податкових накладних. Реєструйте й обмінюйтесь розрахунками коригування з
          контрагентами
        </p>
      </div>
      <div class="feature-card">
        <div class="feature-icon">
          <svg class="icon" width="24" height="24">
            <use href="./assets/images/icons/icons.svg#icon-invoice"></use>
          </svg>
        </div>
        <h3 class="feature-title">Податкові накладні</h3>
        <p class="feature-description">
          Створюйте чи імпортуйте податкові накладні/розрахунки коригування. Отримуйте виписки з
          єдиного реєстру податкових накладних. Реєструйте й обмінюйтесь розрахунками коригування з
          контрагентами
        </p>
      </div>
      <div class="feature-card">
        <div class="feature-icon">
          <svg class="icon" width="24" height="24">
            <use href="./assets/images/icons/icons.svg#icon-calculator"></use>
          </svg>
        </div>
        <h3 class="feature-title">Автоматичний розрахунок</h3>
        <p class="feature-description">
          Використовуйте автоматичний розрахунок у бланках звітів, щоб спростити їх заповнення й
          уникнути помилок
        </p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">
          <svg class="icon" width="24" height="24">
            <use href="./assets/images/icons/icons.svg#icon-import"></use>
          </svg>
        </div>
        <h3 class="feature-title">Імпорт/Експорт з інших програм</h3>
        <p class="feature-description">
          Соната підтримує обмін документами у форматі xml і dbf. Ви можете імпортувати звіти й
          податкові накладні з продуктів 1С та інших облікових систем
        </p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">
          <svg class="icon" width="24" height="24">
            <use href="./assets/images/icons/icons.svg#icon-key"></use>
          </svg>
        </div>
        <h3 class="feature-title">Ключі декількох центрів сертифікації</h3>
        <p class="feature-description">
          Підтримуються безкоштовні електронні ключі від КНЕДП ІДД ДПС, ALICК АТ КБ "ПриватБанк", а
          також платні від КНЕДП "Masterkey", ЦСК "Україна", КНЕДП ДКСУ, ДП "ДІЯ", КНЕДП АЦСК АТ
          "УКРСИББАНК"
        </p>
      </div>
    </div>
  </section>
  <!-- <include src="./partials/contentBorder/contentBorder.html"></include> -->
</div>
