<div class="container container__hero">
  <!-- header -->
  <include src="./partials/header/header.html"></include>

  <section class="hero">
    <!-- hero -->
    <div class="ivent-time">
      <p>04чер - 2лип<br />2023</p>
    </div>
    <svg class="hero-logo-icon">
      <use href="./assets/images/icons/icons.svg#icon-rozkvitay"></use>
    </svg>

    <img class="hero-desktop-flower" src="./assets/images/photo/hero-flower-desktop.png" alt="" />

    <svg class="hero-line" height="56">
      <use href="./assets/images/icons/icons.svg#icon-line"></use>
    </svg>

    <p class="hero-text">
      Почни жити, з позиції <br />
      “Я головна героїня свого життя”
    </p>

    <a class="hero-arrow-link" href="#aboutProject"
      ><svg class="hero-arrow" height="56">
        <use href="./assets/images/icons/icons.svg#icon-arrow"></use>
      </svg>
      <svg class="hero-arrow hero-arrow-desktop" height="56">
        <use href="./assets/images/icons/icons.svg#icon-arrow-desktop"></use></svg
    ></a>
  </section>
</div>
