<div class="container">


    <section class="service" id="proposals">
        <div class="service-title-wrapper">
            <img class="service-title-img" src="./assets/images/photo/flower5.png" alt="">
            <h2 class="title service__title">Пакети послуг</h2>
            <img class="service-title-img" src="./assets/images/photo/flower5r.png" alt="">

        </div>
        <div class="service__wrapper">
            <div class="service__info">
                <h3 class="title service-info__title">Тестовий</h3>
                <p class="service__info-text">вступна зустріч в зум + медитація, 1 блок: 2 практики, 4 коучингові
                    техніки,
                    щоденник 1 блоку</p>
                <p class="service__amount">вартість: 700грн</p>
                <p class="service__reserve-amount">Забронювати місце: 500грн, можливе розтермінування</p>
            </div>

            <button class="service__button" id="test">Замовити</button>
        </div>

        <div class="service__wrapper">
            <div class="service__info">
                <h3 class="title service-info__title">Стандартний</h3>
                <p class="service__info-text">3 блоки: 8 практик, 16 коучингових технік, 3 щоденники, 4 медитації, 4
                    зустрічі онлайн, 1 зустріч зі стилістом, т-гра
                    “Ліла”</p>
                <p class="service__amount">вартість: 4000грн</p>
                <p class="service__reserve-amount">Забронювати місце: 500грн, можливе розтермінування</p>
            </div>

            <button class="service__button" id="standard">Замовити</button>
        </div>

        <div class="service__wrapper">
            <div class="service__info">
                <h3 class="title service-info__title">ВІП</h3>
                <p class="service__info-text">все, що в пакеті стандарт + окремий чат з особистим супроводом;
                    індивідуальні сесії від Агнесси та Юлії, персональна зустріч зі стилістом</p>
                <p class="service__amount">вартість: 7000грн</p>
                <p class="service__reserve-amount">Забронювати місце: 500грн, можливе розтермінування</p>
            </div>

            <button class="service__button" id="vip">Замовити</button>
        </div>

    </section>
    <div class="container">